* {
    box-sizing: border-box;
  }
.team-detail-header{
    text-align: center; 
   }


.header-dynamic-img img{
    width: 100%;
}

.dynamic-team-bagde img{
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

