* {
    box-sizing: border-box;
  }
.team-detail{   
    background-color: rgb(98, 155, 98);
    color: white;
}

.team-detail-info{   
    background-color: rgb(131, 221, 131);
    margin-top: 20px;
    padding: 20px 20px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.team-info-img img{
    width: 100%;
}
.team-description p{
    margin-top: 20px;
    padding: 0px 15px;
    line-height: 28px;
}
.social-icon{
    text-align: center;
}

.social-icon img{
   width: 70px;
   padding-bottom: 20px;
}

